---
interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

{tags.length > 0 && (
  <ul class="flex flex-wrap gap-2 list-none m-0 p-0">
    {tags.map((tag) => (
      <li>
        <span class="inline-block font-mono text-[10px] uppercase tracking-widest px-2 py-0.5 border border-border text-ink-faint rounded">
          {tag}
        </span>
      </li>
    ))}
  </ul>
)}
